.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-left: 450px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    gap: 10px;
}